<% if @current_user %>
  <div class="subscribed-subreddits">
    <% @current_user.subreddits.each do |subreddit| %>
      <%= link_to subreddit.title, "/subreddits?title=#{subreddit.title}&subscriber_count=#{subreddit.subscriber_count}&description=#{subreddit.description}" %>
    <% end %>
  </div>
  <div class="username">
    <%= @current_user.username %>
    <span class="karma"> (<%= @current_user.karma %>)</span>
  </div>
  <div class="inbox"></div>
  <%= link_to "Logout", sessions_path, class: "logout", method: :delete %>
<% else %>
  <%= link_to "Login", "https://www.reddit.com/api/v1/authorize?client_id=#{ENV['client_id']}&response_type=code&state=1234&redirect_uri=http://localhost:3000/reddit/callback/&duration=temporary&scope=identity,mysubreddits,read", class: "login" %>
<% end %>
